<header class="bg-br-grey">
  <div class="flex flex-column flex-row-l justify-between items-center-m items-center-l mw8 center">
    <a class="ml3 dib fl pv3 f5 f4-m f3-l b link white hover-grey-30" href="{{%20site.baseurl%20}}/crowden/" title="Home">Crowden OEC</a>
    <nav>
      <ul class="pa0 mv0 list white f7 f6-m f5-l flex flex-row flex-wrap justify-between-m justify-between-l">
        <li>
          <a class="db ph3 pv2 white hover-grey-30" href="{{%20site.baseurl%20}}/crowden/">Home</a>
        </li>
        <li>
          <a class="db ph3 pv2 white hover-grey-30" href="{{%20site.baseurl%20}}/crowden/#about">About</a>
        </li>
        <li>
          <a class="db ph3 pv2 white hover-grey-30" href="{{%20site.baseurl%20}}/crowden/#groups">Groups</a>
        </li>
        <li>
          <a class="db ph3 pv2 white hover-grey-30" href="{{%20site.baseurl%20}}/crowden/#hire">Hire</a>
        </li>
        <li>
          <a class="db ph3 pv2 white hover-grey-30" href="{{%20site.baseurl%20}}/crowden/offers">Offers</a>
        </li>
        <li>
          <a class="db ph3 pv2 white hover-grey-30" href="{{%20site.baseurl%20}}/crowden/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
