/* colours for crowden oec */

.br-purple-light { color: #b57abe; }
.bg-br-purple-light { background-color: #b57abe; }
.b--br-purple-light { border-color: #b57abe; }
.hover-br-purple-light:hover,
.hover-br-purple-light:focus { color: #b57abe; }
.hover-bg-br-purple-light:hover,
.hover-bg-br-purple-light:focus { background-color: #b57abe; }

.br-purple { color: #844D8E; }
.bg-br-purple { background-color: #844D8E; }
.b--br-purple { border-color: #844D8E; }
.hover-br-purple:hover,
.hover-br-purple:focus { color: #844D8E; }
.hover-bg-br-purple:hover,
.hover-bg-br-purple:focus { background-color: #844D8E; }

.br-purple-dark { color: #562260; }
.bg-br-purple-dark { background-color: #562260; }
.b--br-purple-dark { border-color: #562260; }
.hover-br-purple-dark:hover,
.hover-br-purple-dark:focus { color: #562260; }
.hover-bg-br-purple-dark:hover,
.hover-bg-br-purple-dark:focus { background-color: #562260; }

.br-blue-light { color: #61d0dd; }
.bg-br-blue-light { background-color: #61d0dd; }
.b--br-blue-light { border-color: #61d0dd; }
.hover-br-blue-light:hover,
.hover-br-blue-light:focus { color: #61d0dd; }
.hover-bg-br-blue-light:hover,
.hover-bg-br-blue-light:focus { background-color: #61d0dd; }

.br-blue { color: #1F9FAB; }
.bg-br-blue { background-color: #1F9FAB; }
.b--br-blue { border-color: #1F9FAB; }
.hover-br-blue:hover,
.hover-br-blue:focus { color: #1F9FAB; }
.hover-bg-br-blue:hover,
.hover-bg-br-blue:focus { background-color: #1F9FAB; }

.br-blue-dark { color: #00707c; }
.bg-br-blue-dark { background-color: #00707c; }
.b--br-blue-dark { border-color: #00707c; }
.hover-br-blue-dark:hover,
.hover-br-blue-dark:focus { color: #00707c; }
.hover-bg-br-blue-dark:hover,
.hover-bg-br-blue-dark:focus { background-color: #00707c; }

.br-green-light { color: #e2ef6d; }
.bg-br-green-light { background-color: #e2ef6d; }
.b--br-green-light { border-color: #e2ef6d; }
.hover-br-green-light:hover,
.hover-br-green-light:focus { color: #e2ef6d; }
.hover-bg-br-green-light:hover,
.hover-bg-br-green-light:focus { background-color: #e2ef6d; }

.br-green { color: #AEBD3C; }
.bg-br-green { background-color: #AEBD3C; }
.b--br-green { border-color: #AEBD3C; }
.hover-br-green:hover,
.hover-br-green:focus { color: #AEBD3C; }
.hover-bg-br-green:hover,
.hover-bg-br-green:focus { background-color: #AEBD3C; }

.br-green-dark { color: #7c8d00; }
.bg-br-green-dark { background-color: #7c8d00; }
.b--br-green-dark { border-color: #7c8d00; }
.hover-br-green-dark:hover,
.hover-br-green-dark:focus { color: #7c8d00; }
.hover-bg-br-green-dark:hover,
.hover-bg-br-green-dark:focus { background-color: #7c8d00; }

.br-grey-light { color: #8c9dad; }
.bg-br-grey-light { background-color: #8c9dad; }
.b--br-grey-light { border-color: #8c9dad; }
.hover-br-grey-light:hover,
.hover-br-grey-light:focus { color: #8c9dad; }
.hover-bg-br-grey-light:hover,
.hover-bg-br-grey-light:focus { background-color: #8c9dad; }

.br-grey { color: #5E6F7E; }
.bg-br-grey { background-color: #5E6F7E; }
.b--br-grey { border-color: #5E6F7E; }
.hover-br-grey:hover,
.hover-br-grey:focus { color: #5E6F7E; }
.hover-bg-br-grey:hover,
.hover-bg-br-grey:focus { background-color: #5E6F7E; }

.br-grey-dark { color: #334452; }
.bg-br-grey-dark { background-color: #334452; }
.b--br-grey-dark { border-color: #334452; }
.hover-br-grey-dark:hover,
.hover-br-grey-dark:focus { color: #334452; }
.hover-bg-br-grey-dark:hover,
.hover-bg-br-grey-dark:focus { background-color: #334452; }
